* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: white;
}

#root {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

.cell {
  width: 100%;
  height: 100%;
  color: #777777;
  font-size: 10px;
}

.default {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 20px;
}

.details {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #ffffffa0;
  color: white;
  padding: 40px;
  font-weight: 100;
  display: flex;
  flex-direction: column;
}

.details .title h1 {
  color: #ef914b;
  font-size: 36px;
  line-height: 36px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  font-family: "cobolbold";
  text-transform: uppercase;
  position: relative;
  margin-bottom: 20px;
  display: inline-block;
  position: relative;
}

.details .title h1 > div::after {
  content: "";
  width: 105%;
  display: block;
  position: absolute;
  left: -10px;
  border-right: 2px solid #ef914b;
  border-top: 2px solid #ef914b;
  height: 20px;
  transform: skew(-50deg);
}

.details p {
  color: #ef914b;
  font-size: 26px;
  line-height: 26px;
  margin: 0;
  padding-top: 15px;
  font-family: "cobolregular";
}

.grid {
  height: calc(100vh - 50px) !important;
}
