.case_letter {
  height: 40px;
  display: block;
  position: relative;
  margin-top: 15px;
  border-right: 2px solid #ef914b;
  border-left: 2px solid #ef914b;
  border-bottom: 2px solid #ef914b;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}
.case_letter_filling {
  background-color: #ef914b;
  width: 100%;
  height: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all 0.3s;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
  font-family: "cobolbold";
  transition-delay: 1s;
}
.case_letter_find {
  background-color: #ef914b;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all 0.3s;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
  font-family: "cobolbold";
}
.case_letter:active .case_letter_filling {
  height: 100%;
  -webkit-box-shadow: inset 0 1px 1px 0 #000;
  box-shadow: inset 0 1px 1px 0 #000;
}
