.main_container_footer {
  background-color: #ef914b;
  line-height: 35px;
  padding-top :15px;
  font-family: "cobolbold";
  left:15px;
  width:100%;
}

.main_container_footer a {
  text-decoration: none;
  color: white;
  transition: all 0.3s
}

.main_container_footer a:hover{
  font-size: 1.1rem;
}

@media screen and (max-width:490){
.main_container_footer div{
  line-height: 5px;
  text-align:center;
  padding-top:0px
}
}