.main_container_footer {
  background-color: #ef914b;
  line-height: 35px;
  padding-top :15px;
  font-family: "cobolbold";
}

.main_container_footer a {
  text-decoration: none;
  color: white;
  transition: all 0.3s
}

.main_container_footer a:hover{
  font-size: 1.1rem;
}