.main_container_navbar {
  position: absolute;
  right: 0;
}
.item_navbar {
  background-color: #ef914b;
  width: 200px;
  padding-left: 10px;
  border-radius: 50px 0 0 50px;
  line-height: 50px;
  transition: 0.3s;
  text-decoration: none;
  color: white;
}
.item_navbar:hover {
  text-decoration: none;
  color: white;
  width: 220px;
}
