.main_container_navbar {
  position: absolute;
  right: 0;
  overflow: hidden;
  top: 45px;
}
.item_navbar {
  background-color: #ef914b;
  width: 200px;
  padding-left: 10px;
  border-radius: 50px 0 0 50px;
  line-height: 30px;
  transition: 0.3s;
  text-decoration: none;
  color: white;
  font-family: "cobolbold";
  text-transform: uppercase;
  font-size: 20px;
  display: block;
}
.item_navbar i {
  font-size: 20px;
}

.item_navbar:hover {
  text-decoration: none;
  color: white;
  width: 220px;
}
